# Prisma Database URL
# Thay thế user, password, host, port và tên database bằng thông tin MySQL của bạn
DATABASE_URL="mysql://root:password@localhost:3306/contentbot"

# Các cấu hình khác được lưu trực tiếp vào Database thông qua giao diện ReactJS.
